*.tf
.terraform/*
terraform.*
.terraform*                                                                                                                              
tmpl/vm.tf.tmpl
ansible/ansible-roles*
ansible/roles*
